// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: 30% 70%;
  }


  .item{ 
    grid-column-start: 1;
    grid-column-end: 1;

  }  
  .description{ 
   grid-column-start:2;
   grid-column-end: 2;
   
 }  
}

// Desktops & Laptops
@include mediaLg {
  .projects {
  grid-template-columns: 30% 70%;
  
  /*.item{ 
     grid-column-start: 1;
     grid-column-end: 3;

   }  
   .description{ 
    grid-column-start:4;
    grid-column-end: 5;
    
  } */
  .description{
    width: 100%;
    word-wrap: break-word;
  } 
}

  .menu-btn{
    visibility: visible;
  }

  .topnav{
   display: none;
  }
}

// Tablets & Small Laptops
@include mediaMd {

  
  .menu-btn{
    visibility: visible;
  }

  .topnav{
    visibility: hidden;
  }

  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
     // background: url('../img/portrait_small.jpg');
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: 100%;
 
    .item{
      grid-column-start: 1;
      grid-column-end: 1;
    }
    .description{
      grid-column-start: 1;
      grid-column-end:1;
    }
  }
 
}

// Smartphones
@include mediaSm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
    }

    .lg-heading {
      margin-top:1rem;
      font-size: 5rem;
    }
  }

  .about-info{

    grid-template-columns: 100%;
    img{
      width: 100%;
    }
  }


  

  main .lg-heading{
    font-size: 3.5rem;
  }
  
  .menu-btn{
    visibility: visible;
  }

  .topnav{
    display: none;

  }


  
}
